header {
  position: relative;
}

nav {
  top: 0;
left: 0;
width: 100%;
height: 49px;
margin-top: 0;
position: fixed;
padding-top: 0px;
background: none;
background-color: white;
transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
}

#box-header {
  height: 100%;
  margin: auto 10%;
  position: relative;
  padding-top: 0.5%;
  box-sizing: border-box;
}
#box-header > div {
  display: inline-block;
  position: absolute;
}
.header-left {
  width: 30%;
}
.header-left > a {
  margin-left: 3%;
}
.header-left > img {
  width: 35px;
}
.header-right {
  width: 60%;
  margin-left: 86%;
}
.header-right > img {
  position: absolute;
  width: 35px;
  border-radius: 50%;
  margin: 1% 1%;
}
.header-right > span {
  color: #02B875;
  margin: 1% auto;
  right: 0;
}
.box-container {
  margin: 6% 21%;
}
.box-container > h1 {
  font-family: 'Ranga', cursive;
  font-size: 56px;
}
.box-container > p {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  word-wrap: break-word;
}
.my-info{
  position: relative;
}
.my-info > .box-info {
  position: absolute;
  top: 0;
  left: 13%;
}
.box-info > span:first-child {
  font-size: 21px;
  font-weight: bold;
  color: black!important;
  font-family: 'Roboto', sans-serif;
}
.box-info > span {
  color: gray;
}

.my-info > img{
  width: 84px;
  border-radius: 50%;
}
footer {
  position: fixed;
  width: 100%;
  height: 70px;
  background: white;
  border-top: 2px solid rgba(128, 128, 128, 0.32);
  padding-left: 12%;
  bottom: 0;
  left: 0;
}
footer > div {
  display: inline-block;
}
footer > .footer-left {
  left: 0;
  float: left;
}
.footer-left > span {
  margin-left: 10px;
}
footer > .footer-right {
  right: 0;
  margin-left: 700px;
}
