header {
  position: relative;
}

nav {
  top: 0;
left: 0;
width: 100%;
height: 49px;
margin-top: 0;
position: fixed;
padding-top: 0px;
background: none;
background-color: white;
transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
}

#box-header {
  height: 100%;
  margin: auto 10%;
  position: relative;
  padding-top: 0.5%;
}
#box-header > span {
  color: #02B875;
  right: 0;
  position: absolute;
  margin: 1% auto;
}
#box-header > img {
  width: 35px;
}
.box-container {
  margin: 6% 21%;
}
.my-info{
  position: relative;
}
.my-info > .box-info {
  position: absolute;
  top: 0;
  left: 13%;
}
.box-info > span:first-child {
  font-size: 21px;
  font-weight: bold;
  color: black!important;
}
.box-info > span {
  color: gray;
}

.my-info > img{
  width: 84px;
  border-radius: 50%;
}
footer {
  width: 100%;
  background: white;
  position: fixed;
  border-top: 2px solid rgba(128, 128, 128, 0.32);
  padding-left: 12%;
  bottom: 0;
  left: 0;
}
footer > span {
  margin-left: 10px;
}
